.section-steps {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 10%;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  float: left;
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  margin-right: 25px;
}
