.section-plans {
  background-color: #f4f4f4;
}

.section-plans .plan-box {
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #cccccc;
}

.section-plans .plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.section-plans .plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section-plans .plan-box div:last-child {
  text-align: center;
  border: none;
}

.section-plans .plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 200;
  color: #e67e22;
}

.section-plans .plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.section-plans .plan-price-meal {
  font-size: 80%;
}

.section-plans .plan-box ul {
  list-style: none;
}

.section-plans .plan-box ul li {
  padding: 5px 0;
}

@media only screen and (max-width: 1023px) {
  .city-feature {
    font-size: 90%;
  }

  .section-plans .plan-box {
    width: 100%;
    margin-left: 0;
  }

  .section-plans .plan-price {
    font-size: 250%;
  }
}